.header {
	padding: 50px 100px;
	text-align: center;
	background: #33CEFF;
	font-size: 32px;
	font-family: Sans-Serif;
}
.main {
	background: #33FFF6;
	padding: 100px;	
	font-size: 38px;
	color: #0C0234;
	font-family: Sans-Serif;
	text-align: center;
}
.footer {
	background: #33FFB8;
	padding: 30px; 100px;	
	font-size: 32px;
	color: #0C0234;
	font-family: Sans-Serif;
	text-align: center;
}
